*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;  
    align-items: center; 
    justify-content: space-evenly;
}
.logo{
    background-image: url(amazon-logo.jpg);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.navbar-logo{
    height: 50px;
    width: 113px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.navbar-address{
    text-align: center;
    align-items: center;
}
.navbar-address-first{
    margin-left: 15px;
    font-size: 0.8rem;
    color: #CCCCCC;
}
.navbar-address-logo{
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
    color: #FFFFFF;
    align-items: center;
}
.navbar-address i{
    height: 18px;
    width: 15px;
}
/* navbar-search */
.navbar-search{
    display: flex;
    width: 630px;
    border: 2px solid transparent;
}
.navbar-search:hover{
    border: 2px solid orange;
    border-radius: 7px;
}
.navbar-search-logo{
    height: 40px;
    width: 45px;
    background-color: #febd68;
    color: #0F1111;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-search-logo i{
    font-size: 1.5rem;
}
.navbar-search-select{
    height: 40px;
    width: 51.33px;
    background-color: #E6E6E6;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navbar-search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.navbar-language{
    display: flex;
    width: 54.38px;
    height: 19px;
    
}
.navbar-language-select{
    color: white;
    background-color:#0F1111;
    border: none;
    
}
.navbar-language i{
    height: 3rem;
    width: 21.6px;
}
.navbar-signin-select{
    color: white;
    background-color: #0F1111;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}
.navbar-signin-first{
    font-size: 0.8rem;
    margin-left: 5px;
}
.navbar-returns-first{
    font-size: 0.8rem;
}
.navbar-returns-second{
    font-size: 1rem;
    font-weight: 700;
}
.navbar-cart{
    display: flex;
    
}
.navbar-cart i {
    font-size: 25px;
}
.navbar-cart{
    font-size: 0.8rem;
}
.navbar-cart-text{
    margin-top: 12px;
    font-weight: 700;
}
.panel{
    height: 39px; 
    background-color: #222f3d;;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-ops{
    width: 100%;
    display: flex; 
    font-size: 0.9rem;
}
.panel-all{
    width: 58.46px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-all i{
    font-size: 1.2rem;
}
.panel-ops p{
    margin: 8px;
}
.hero-section{
    height: 300px;
    background-image: url(hero-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.hero-info{
    font-size: 0.85rem;
    height: 40px;
    width: 1200px;
    background-color: #f5f6f6;
    color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 230px;
}
.hero-info a{
    color: #007185;
    text-decoration: none;
}
.shopping-area-1{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.shopping-area-2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 0px;
}
.empty-space-1{
    height: 20px;
    background-color: #e2e7e6;
}
.pic{
    height: 300px;
    background-size:cover;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.box h2{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 1.31rem;
    color: #0f1111;
}
.box a{
    margin-left: 15px;
    text-decoration: none;
    font-size: 0.85rem;
    color: #007185;
}
.footer-panel-1{
    height: 49px;
    background-color: #37475a;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-panel-2{
    height: 370px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer-panel-2 a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 15px;
    text-decoration: none;
}
.footer-panel-2 ul{
    margin-top: 40px;
}
.footer-panel-3{
    height: 80px;
    background-color: #131a22;
    color: #dddddd;
}
.pages{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 10px;;
}
.pages a{
    margin: 10px;
    color: #dddddd;
    text-decoration: none;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: -15px;
}